<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta http-equiv="Cache-control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TRELLO-COMPLETE</title>
    <link crossorigin="anonymous" rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
  </head>
  <body>
    <div id="content"></div>
    <script crossorigin="anonymous" src="https://p.trellocdn.com/power-up.min.js"></script>
    <script crossorigin="anonymous" src="https://kryl.com/root.js?cacheBust=20250710104412"></script>
  </body>
</html>
